$mainColor: #008080;

$color-0: #000;
$color-0-1: #151515;
$color-0-3: #353535;
$color-0-5: #7e7e7e;

$color-1: #fff;
$color-1-1: #eee;
$color-1-2: #efefef;
$color-1-3: #dddddd;

$color-2: #004ea7;

$color-3: #d91212;
$color-3-1: #cc3d3d;

$color-4: #6aed6a;
$color-4-1: #2a9f2a;

$mobileMax: 767px;
$tabletMax: 1200px;

$shadow: 1px 2px 7px rgba(44, 44, 44, 0.3);
$shadowLite: 2px 2px 6px rgba(20, 20, 20, 0.3);