@use "../../theme" as *;

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    .loading__ico {
        color: $mainColor;
        width: 120px;
        height: 120px;
    }
}