@use "theme.scss" as *;

.addWord {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 90px 40px;
    width: 100%;
    max-width: 280px;
    background-color: $color-1;
    padding: 30px;
    border-radius: 15px;
    box-shadow: $shadow;

    .addWord__inputBox {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .addWord__input {
        border-radius: 6px;
        padding: 0 12px;
        height: 45px;
        font-size: 15px;
        border: 2px solid $color-1-1;
        margin-top: 7px;
    }

    .addWord__input--first {
        margin: 0;
    }

    .inputBox__speak {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        align-self: center;
        padding: 0;
        background: none;
        color: $mainColor;

        svg {
            width: 20px;
            height: 22px
        }
    }

    .addWord__button {
        border-radius: 6px;
        padding: 12px 20px;
        margin-bottom: 9px;
        border: 1px solid $color-1-1;
        font-weight: 700;
        color: $color-1-1;
        background-color: $mainColor;
        margin: 7px 0 0;
    }

    .addWord__tips {
        font-size: 13px;
        margin: 4px 0 0;
    }
}

.error {
    color: #f90000;
    font-weight: 600;
    font-size: 17px;
    margin-bottom: 7px;
}