@use "theme.scss" as *;

.speakButton {
    color: $mainColor;
    border: none;
    align-self: stretch;
    padding: auto 5px;

    &:hover {
        svg {
            filter: brightness(140%);
        }
    }

    svg {
        width: 30px;
        height: auto;
    }
}